<router-outlet></router-outlet>

<div *ngIf="bloqueado">
    <div style="z-index: 9999; border: none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(85, 85, 85); opacity: 0.1; cursor: wait; position: fixed;"></div>
    <div style="z-index: 10010; position: fixed; padding: 0px; margin: 0px; width: 30%; top: 40%; left: 35%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait;"><div class="loading-message "><img src="../assets/images/spinner1.gif" height="100px" align=""><span></span></div></div>
</div>